.navigation {
	@media (min-width: 1024px) {
		--navigation-button-display: none;
		--navigation-menu-position: static;
		--navigation-menu-height: auto;
		--navigation-menu-width: auto;
		--navigation-menu-max-width: none;
		--navigation-menu-color: transparent;
		--navigation-list-flex-flow: row nowrap;
		--navigation-list-padding: 0;
	}
}
